body {
    background: linear-gradient(301deg, #721e1e, #252121, #3c3c3c, #616161);
background-size: 800% 800%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
-o-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}
hr {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.midLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    height: 180px;
}
.fixed {
    /*background-attachment: fixed;*/
}
.home {
    -webkit-box-shadow: 0px 11px 29px 4px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 11px 29px 4px rgba(0,0,0,0.50);
    box-shadow: 0px 11px 29px 4px rgba(0,0,0,0.50);
}
.info {
    display: block;
    color:white;
    margin-bottom: 100px;
    height: 1500px;
    text-align: center;
margin-top: 5%;
margin-bottom: 5%;

}
.info img {
    height: 100px; margin-right: 10%; margin-top: -1.2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 1365px) {
.info img {
    height: 50px;
}
.info h5 {
    font-size: 80%;
}

.info {
    background-size: 180px;
    background-position-y: 11.5%;
}

.info h2 {
    font-size: 25px;
}
}

.TRlogo {
    color:white;
}

 /*jssor slider loading skin spin css*/
 .jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes AnimationName { 
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}

/***********************
 *	Variables
 **********************/
/***********************
 *	Project Main Styles
 **********************/
 *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #282828;
  }
  .slider-pages {
    overflow: hidden;
    position: relative;
    height: 100vh;
  }
  .slider-page {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100vh;
    transition: transform 1350ms;
  }
  .slider-page--skew {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 140%;
    height: 100%;
    background: #282828;
    transform: skewX(-18deg);
  }
  .slider-page--left {
    left: 0;
    transform: translateX(-32.5vh) translateY(100%) translateZ(0);
  }
  .slider-page--left .slider-page--skew {
    left: -40%;
  }
  .slider-page--left .slider-page__content {
    padding: auto 30% auto 30%;
    transform-origin: 100% 0;
  }
  .slider-page--right {
    left: 50%;
    transform: translateX(32.5vh) translateY(-100%) translateZ(0);
  }
  .slider-page--right .slider-page--skew {
    right: -40%;
  }
  .slider-page--right .slider-page__content {
    padding: auto 30% auto 30%;
    transform-origin: 0 100%;
  }
  .slider-page__content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 30% 0 30%;
    color: #e2e2e2;
    background-size: cover;
    transform: skewX(18deg);
    transition: transform 1350ms;
  }
  .slider-page__title {
    margin-bottom: 1em;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
  }
  .slider-page__title--big {
    font-size: 1.2em;
  }
  .slider-page__description {
    font-size: 15px;
    text-align: center;
    line-height: 1;
  }
  .slider-page__link {
    color: #80a1c1;
  }
  .slider-page__link:hover, .slider-page__link:focus {
    color: #6386a9;
    text-decoration: none;
  }
  /***********************
   *	Project JS Styles
   **********************/
  .js-scrolling__page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .js-scrolling--active .slider-page {
    transform: translateX(0) translateY(0) translateZ(0);
  }
  .js-scrolling--inactive .slider-page__content {
    transform: skewX(18deg) scale(0.9);
  }
  .js-scrolling__page-1 .slider-page--left .slider-page__content {
    background-image: url(img/About/RocketLeagueFull.png);
    background-position-x: 200px;
    background-repeat: no-repeat;
  }
  .js-scrolling__page-1 .slider-page--right .slider-page__content {
    background-color: #282828;
  }
  .js-scrolling__page-2 .slider-page--left .slider-page__content {
    background-color: #C62828;
  }
  .js-scrolling__page-2 .slider-page--left .slider-page__title, .js-scrolling__page-2 .slider-page--left .slider-page__description {
    color: #282828;
  }
  .js-scrolling__page-2 .slider-page--right .slider-page__content {
    background-image: url(img/About/LogoFull.png);
    background-position-x: 1100px;
  }
  .js-scrolling__page-3 .slider-page--left .slider-page__content {
    background-image: url(img/About/OverwatchFull.png);
    background-position-x: -200px;
  }
  .js-scrolling__page-3 .slider-page--right .slider-page__content {
    background-color: #282828;
  }
  .js-scrolling__page-4 .slider-page--right .slider-page__content {
    background-image: url(img/About/CSGOFull.png);
    background-position-x: -200px;
  }
  
